<h1>Sample App</h1>
<p>こんにちは <%= @user.name %> さん</p>

<p>ようこそ，Sample Appへ！ 下記のリンクをクリックしてあなたのアカウントを認証してください．</p>

<%= link_to "認証する", edit_account_activation_url(@user.activation_token, email: @user.email) %>

<p>心当たりがない場合は無視してください．</p>
